<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cadastro de usuário</h1>
  <form>
    {%csrf_token%}
    <input type="text" name="nome" placeholder="Digite o nome completo">
    <input type="text" name="username" placeholder="Crie um nome de usuário único">
    <input type="password" name="senha" placeholder="Crie uma senha">
    <label for="cargo">Selecione o cargo do usuário</label>
    <select name="cargo" class="select_cargo_menu">
      <option value="Gerente">Gerente</option>
      <option value="atendente">Atendente</option>
    </select>
  </form>
</body>
</html>